<ul class="nav nav-tabs">
  <li><%= link_to 'Editer propriétaire', edit_proprietaire_path %></li>
  <li><%= link_to 'Nouvelle agence', new_proprietaire_path %></li>
  <li><%= link_to 'Rechercher',proprietaires_path %></li>
</ul>