<ul class="nav nav-tabs">
  <li><%= link_to 'Editer propriétaire', edit_proprietaire_path %></li>
  <li><%= link_to 'Nouveau propriétaire', new_proprietaire_path %></li>
  <li><%= link_to 'Tous les propriétaires',proprietaires_path %></li>
</ul>