<div class="container" xmlns="http://www.w3.org/1999/html">

  <%= form_for @proprietaire do |p| %>

      <table class="table">
        <div class="row">
          <div class="col-lg-12">Coordonées du propriétaire</div>
        </div>
        <div class="row">
          <div class="col-lg-12"><%= p.text_field :nom, autofocus: true, placeholder: 'Nom du propriétaire', :style => 'color:red; width:300px' %></div>
        </div>

      <%= p.submit %>

  <% end %>
</div>
