<div class="container" xmlns="http://www.w3.org/1999/html">
  <%= render 'nav_proprietaire_show' %>

    <!-- Default panel contents -->
    <div class="panel-heading"><h1>Fiche du propriétaire : <%= @proprietaire.nom %></h1></div>
<%=	 @proprietaire.nom %>
</div>


